In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('推断数据.xlsx')

In [3]:
data.head()

,p,crash,volume,temperature,season,weather,daytime,time of week
0,0.000403,0,0,0,autumn,cloudy,afternoon,0
1,0.000481,1,1,0,winter,cloudy,morning,0
2,0.000222,0,1,0,autumn,cloudy,afternoon,0
3,0.000471,1,1,0,winter,cloudy,noon,0
4,0.000197,0,2,0,autumn,cloudy,afternoon,0

In [4]:
data1 = data[data['crash']==1]

In [5]:
print(len(data1))

3240

In [6]:
data1 = data1.sort_values(by='p',ascending=0)
data1.head(10)

,p,crash,volume,temperature,season,weather,daytime,time of week
1,0.000481,1,1,0,winter,cloudy,morning,0
3,0.000471,1,1,0,winter,cloudy,noon,0
5,0.000438,1,0,0,winter,cloudy,night,0
7,0.000422,1,0,0,winter,cloudy,dawn,0
9,0.000407,1,1,0,winter,cloudy,afternoon,0
11,0.000359,1,1,0,winter,cloudy,evening,0
13,0.000330,1,1,2,summer,cloudy,afternoon,0
15,0.000321,1,0,0,winter,cloudy,evening,0
17,0.000275,1,1,2,summer,cloudy,noon,0
19,0.000229,1,0,0,winter,cloudy,afternoon,0

In [7]:
t = data1.iloc[0:100]
print(len(t))
m = t.groupby(['time of week']).count().reset_index()
print(m)

100
   time of week   p  crash  volume  temperature  season  weather  daytime
0             0  81     81      81           81      81       81       81
1             1  16     16      16           16      16       16       16
2             2   3      3       3            3       3        3        3

In [8]:
data2 = data[data['crash']==0]
print(len(data2))

3240

In [10]:
s = pd.merge(data1,data2,on=['volume','temperature','season','weather','daytime','time of week'])
print(len(s))
print(s.columns)
s.head()

3240
Index(['p_x', 'crash_x', 'volume', 'temperature', 'season', 'weather',
       'daytime', 'time of week', 'p_y', 'crash_y'],
      dtype='object')

,p_x,crash_x,volume,temperature,season,weather,daytime,time of week,p_y,crash_y
0,0.000481,1,1,0,winter,cloudy,morning,0,0.007780,0
1,0.000471,1,1,0,winter,cloudy,noon,0,0.007616,0
2,0.000438,1,0,0,winter,cloudy,night,0,0.017399,0
3,0.000422,1,0,0,winter,cloudy,dawn,0,0.016790,0
4,0.000407,1,1,0,winter,cloudy,afternoon,0,0.006580,0

In [22]:
s['crash_p'] = s['p_x']/(s['p_x']+s['p_y'])
s = s.sort_values(by=['p_x','crash_p'],ascending=False)
s.head(20)

,p_x,crash_x,volume,temperature,season,weather,daytime,time of week,p_y,crash_y,crash_p
0,0.000481,1,1,0,winter,cloudy,morning,0,0.007780,0,0.058206
1,0.000471,1,1,0,winter,cloudy,noon,0,0.007616,0,0.058206
2,0.000438,1,0,0,winter,cloudy,night,0,0.017399,0,0.024536
3,0.000422,1,0,0,winter,cloudy,dawn,0,0.016790,0,0.024536
4,0.000407,1,1,0,winter,cloudy,afternoon,0,0.006580,0,0.058206
5,0.000359,1,1,0,winter,cloudy,evening,0,0.005814,0,0.058206
6,0.000330,1,1,2,summer,cloudy,afternoon,0,0.009274,0,0.034335
7,0.000321,1,0,0,winter,cloudy,evening,0,0.012780,0,0.024536
8,0.000275,1,1,2,summer,cloudy,noon,0,0.007734,0,0.034335
9,0.000229,1,0,0,winter,cloudy,afternoon,0,0.009087,0,0.024536
10,0.000229,1,0,0,winter,cloudy,morning,0,0.009085,0,0.024536
11,0.000225,1,0,2,summer,cloudy,night,0,0.013738,0,0.016139
12,0.000224,1,1,2,summer,cloudy,evening,0,0.006295,0,0.034335
13,0.000213,1,1,2,summer,cloudy,morning,0,0.005999,0,0.034335
14,0.000207,1,1,0,winter,cloudy,dawn,0,0.003343,0,0.058206
15,0.000202,1,0,0,winter,cloudy,noon,0,0.008017,0,0.024536
16,0.000199,1,0,2,summer,cloudy,dawn,0,0.012101,0,0.016139
17,0.000177,1,1,0,winter,cloudy,morning,1,0.002863,0,0.058206
18,0.000175,1,1,2,summer,cloudy,dawn,0,0.004922,0,0.034335
19,0.000167,1,1,0,winter,cloudy,night,0,0.002707,0,0.058206