In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('模型数据.xlsx')
data.head(2)

   crash  time of week weather  volume  temperature    daytime  season
0      1             1  cloudy       0            0  afternoon  winter
1      1             1  cloudy       0            0  afternoon  winter

In [3]:
def weather(x):
    t=0
    if x == 'sunny':
        t = 0
    elif x == 'cloudy':
        t = 1
    elif x == 'foggy':
        t = 2
    elif x == 'rainy':
        t = 3
    elif x == 'snowy':
        t = 4
    return t
data['weather'] = data.apply(lambda data:weather(data['weather']),axis=1)
data.head(2)

   crash  time of week  weather  volume  temperature    daytime  season
0      1             1        1       0            0  afternoon  winter
1      1             1        1       0            0  afternoon  winter

In [4]:
def daytime(x):
    t=0
    if x == 'dawn':
        t = 0
    elif x == 'morning':
        t = 1
    elif x == 'noon':
        t = 2
    elif x == 'afternoon':
        t = 3
    elif x == 'evening':
        t = 4
    elif x == 'night':
        t = 5
    return t
data['daytime'] = data.apply(lambda data:daytime(data['daytime']),axis=1)
data.head(2)

   crash  time of week  weather  volume  temperature  daytime  season
0      1             1        1       0            0        3  winter
1      1             1        1       0            0        3  winter

In [5]:
def season(x):
    t=0
    if x == 'spring':
        t = 0
    elif x == 'summer':
        t = 1
    elif x == 'autumn':
        t = 2
    elif x == 'winter':
        t = 3
    return t
data['season'] = data.apply(lambda data:season(data['season']),axis=1)
data.head(2)

   crash  time of week  weather  volume  temperature  daytime  season
0      1             1        1       0            0        3       3
1      1             1        1       0            0        3       3

In [6]:
data.to_csv('模型数据_传统统计.csv')